<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Giới thiệu bản thân</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="intro-container">
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Avatar" class="avatar">
        <h1>Xin chào, mình là Tiến!</h1>
        <p>Mình là một người đam mê công nghệ, thích lập trình và luôn tìm cách để phát triển bản thân.</p>
        <p>Hiện tại mình đang học tại Đại học Công nghiệp Hà Nội.</p>
        <div class="skills">
            <strong>Kỹ năng:</strong><br>
            <span>Python</span>
            <span>Web Development</span>
            <span>HTML/CS</span>
            <span>JavaScript</span>
        </div>
    </div>
</body>
</html>